<app-frontend-header></app-frontend-header>
<app-category-selection></app-category-selection>  
<app-homepage-banner></app-homepage-banner>
<app-homepage-offer-zone></app-homepage-offer-zone>
<app-homepage-category-slider></app-homepage-category-slider>
<app-homepage-fav-brand></app-homepage-fav-brand>
<app-homepage-just-in></app-homepage-just-in>
<app-homepage-review></app-homepage-review>
<app-homepage-qa-banner></app-homepage-qa-banner>
<app-frontend-footer></app-frontend-footer>
<router-outlet></router-outlet>
