<app-header></app-header>
<section style="background-color: #fff;">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
          <app-superadmin-left-navigation></app-superadmin-left-navigation>  
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-9">
          <div class="card shadow-2-strong" style="background-color:#f8f9fa;">
            <div class="card-body p-5">
  
              <h2 class="mb-5 text-center">Welcome To Super Admin Dashboard</h2>
        
             
                <h5 class="mb-4 mt-3 text-center"><span class="border-bottom border-3 border-success">Please Go to Desire Section Using Left Navigation </span></h5>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <router-outlet></router-outlet>






