<app-header></app-header>
<section style="background-color: #fff;">
    <div class="container py-5">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-3 col-xl-3">
            <app-superadmin-left-navigation></app-superadmin-left-navigation>   
        </div>
        <div class="col-12 col-md-9 col-lg-9 col-xl-9">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color:#f8f9fa;">
            <div class="card-body p-5">
  
              <h2 class="mb-5 text-center">Consumer Grievence Details</h2>
             
              
              
              <div class="super_admin_login">
                
                <div class="mb-3 row">
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">Grievence ID</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="admin_emp_code" value="FD23452" disabled >
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">Mobile No</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="admin_emp_code" >
                    </div>
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">Email Id</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="admin_first_name" >
                    </div>
                </div> 
                <div class="mb-3 row">
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">First Name</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="admin_first_name" >
                    </div>
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">Last Name</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="admin_last_name" >
                    </div>
                </div>  
                <div class="mb-3 row">
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">Sex</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="admin_first_name" >
                    </div>
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">DOB</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="admin_last_name" placeholder="dd/mm/yyyy" >
                    </div>
                </div>  
                <div class="mb-3 row">
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">Marital Status</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="admin_first_name" >
                    </div>
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">Anniversary</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="admin_last_name" placeholder="dd/mm/yyyy" >
                    </div>
                </div>  
                <div class="mb-3 row">
                    <label for="trade_no" class="col-sm-3 col-form-label form-label"><u>Family Member:</u></label>
                   
                </div> 
                <div class="mb-3 row">
                    <label for="trade_no" class="col-sm-2 col-form-label form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="admin_mobile_no" >
                    </div>
                </div> 

                <div class="mb-3 row">
                    <label for="pan_admin" class="col-sm-2 col-form-label form-label">Relationship</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="pan_admin" >
                    </div>
                    <label for="adhar_no" class="col-sm-2 col-form-label form-label">DOB</label>
                    <div class="col-sm-4">
                      <input type="text" class="form-control" id="adhar_admin" value="dd/mm/yyyy" >
                    </div>
                </div> 
                
                
              
                <div class="d-flex justify-content-center align-items-center mt-5">
                 
     
                  <div class="col-sm-3">
                      <div class="ttw_button_container">
                          <button class="ttw_button" type="submit" >Save</button>
                      </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="ttw_button_container">
                        <button class="ttw_button" type="submit" >Edit</button>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="ttw_button_container">
                        <button class="ttw_button" type="submit" routerLink="/superadmin_consumer_complaint_details">Complaints</button>
                    </div>
                </div>
                 
                </div>
              </div>
           
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <router-outlet></router-outlet>











