.footer_title{
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-weight: normal;
    background: #00b3a1;
    padding: 5px 8px;
}
.carousel_container{
    padding: 50px 40px 20px 40px;
    background: #efeeee;
    border-radius: 5px;
    overflow: hidden;
}
.row{margin: 0px;}
.carousel-control-next, .carousel-control-prev{width: auto;}
.category_holder{margin:0px 10px;width:100%; height: 100%; background: #00b3a0; border-radius: 10px; text-align: center;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.24);
}
.category_holder img{width:75px; height:75px;border-radius: 50%;object-fit: cover;position: relative;top: -37px;border:1px solid #00b3a0;}
.carousel-inner{overflow: initial;}
.cat_name{
    color: #fff;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 17px;
    position: relative;
    top: -20px;
}