<div class="container mt-3 mb-2">
 <div class="footer_title">Our Categories__</div>   
<div id="carouselExampleDark1" class="carousel carousel-dark slide carousel_container" >
    
    <div class="carousel-inner">
      <div class="carousel-item active" >
        <div class="row">
            <div class="col category_holder">
                <img class="img-fluid" src="/assets/images/resturant.jpg" alt="Image 1"/> 
                <div class="cat_name">Restaurants</div>
            </div>

            <div class="col category_holder">
                <img class="img-fluid" src="/assets/images/baby-care-4.jpg" alt="Image 1"/> 
                <div class="cat_name">Baby Care</div>
            </div>

            <div class="col category_holder">
                <img class="img-fluid" src="/assets/images/beverages-3.jpg" alt="Image 1"/> 
                <div class="cat_name">Beverages</div>
            </div>

            <div class="col category_holder">
                <img class="img-fluid" src="/assets/images/dairy-bakery-2.jpg" alt="Image 1"/> 
                <div class="cat_name">Dairy & Bakery</div>
            </div>

            <div class="col category_holder">
                <img class="img-fluid" src="/assets/images/egg-meat-1.jpg" alt="Image 1"/> 
                <div class="cat_name">Egg Fish & Meat</div>
            </div>
            <div class="col category_holder">
                <img class="img-fluid" src="/assets/images/electronics-2.jpg" alt="Image 1"/> 
                <div class="cat_name">Electronics</div>
            </div>
        </div>
        
      </div>
      <div class="carousel-item" >
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/caa8f5/ffffff?text=Image+1" alt="Image 1"/>
            </div>

            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/9984d4/ffffff?text=Image+2" alt="Image 2"/>
            </div>

            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/592e83/ffffff?text=Image+3" alt="Image 3"/>
            </div>

            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/230c33/ffffff?text=Image+4" alt="Image 4"/>
            </div>

            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/b27c66/ffffff?text=Image+5" alt="Image 5"/>
            </div>
            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/b27c66/ffffff?text=Image+5" alt="Image 5"/>
            </div>
        </div>
        
      </div>
      <div class="carousel-item" >
        <div class="row">
            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/caa8f5/ffffff?text=Image+1" alt="Image 1"/>
            </div>

            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/9984d4/ffffff?text=Image+2" alt="Image 2"/>
            </div>

            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/592e83/ffffff?text=Image+3" alt="Image 3"/>
            </div>

            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/230c33/ffffff?text=Image+4" alt="Image 4"/>
            </div>

            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/b27c66/ffffff?text=Image+5" alt="Image 5"/>
            </div>
            <div class="col">
                <img class="img-fluid" src="http://via.placeholder.com/800x450/b27c66/ffffff?text=Image+5" alt="Image 5"/>
            </div>
        </div>
        
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark1" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>