<app-frontend-header></app-frontend-header>
<app-category-selection></app-category-selection>  
<div class="row">
    <div class="col-12">
        <img src="assets/images/Category_banner.png" class="d-block w-100" alt="...">
    </div>
</div>
<div class="container-fluid header_shadow mb-3">
    <div class="container pt-3 pb-3">
    <div class="row">   
    <div class="col-12 product_bredcumb">Home / Product / Baby care</div>
    </div> 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-3">
           <app-product-category-leftpanel></app-product-category-leftpanel>
        </div>
        <div class="col-9">
            <div class="row cat_title_wrap">
            <div class="product_cat_title col-10">Bath & Hair Oil</div>
            <div class="col-2"> 
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Sort By :</option>
                <option value="1">Most Relevance</option>
                <option value="2">Price Low to High</option>
                <option value="3">Price High to Low</option>
              </select></div>
            </div>
            <ul class="product_list">
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_1.png" alt="Image 1"/></div>   
                    <div class="pro_name">India Gate Basmati Rice Super</div>
                    <div class="pro_weight">1.5 Kgs</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 210.00</span>&#8377; 195.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="30%" src="assets/images/product_2.png" alt="Image 1"/></div>   
                    <div class="pro_name">Nescafe Classic Instant Ground Coffee</div>
                    <div class="pro_weight">0.2 Kg</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 600.00</span>&#8377; 449.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_3.png" alt="Image 1"/></div>   
                    <div class="pro_name">Sunfeast Farmalite Veda Digestive Biscuit</div>
                    <div class="pro_weight">250 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 65.00</span>&#8377; 49.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_4.png" alt="Image 1"/></div>   
                    <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
                    <div class="pro_weight">400 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_4.png" alt="Image 1"/></div>   
                    <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
                    <div class="pro_weight">400 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_4.png" alt="Image 1"/></div>   
                    <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
                    <div class="pro_weight">400 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_4.png" alt="Image 1"/></div>   
                    <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
                    <div class="pro_weight">400 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_4.png" alt="Image 1"/></div>   
                    <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
                    <div class="pro_weight">400 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_4.png" alt="Image 1"/></div>   
                    <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
                    <div class="pro_weight">400 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_4.png" alt="Image 1"/></div>   
                    <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
                    <div class="pro_weight">400 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_4.png" alt="Image 1"/></div>   
                    <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
                    <div class="pro_weight">400 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
                <li>
                    <div class="pro_img"><img class="img-fluid" width="100px" src="assets/images/product_4.png" alt="Image 1"/></div>   
                    <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
                    <div class="pro_weight">400 g</div>
                    <div class="row">
                    <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
                    <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
                    </div>
                </li>
               </ul>
               <div class="row d-flex justify-content-center align-items-center mb-3">
                <button type="button" class="btn btn-warning btn-sm">Show More</button>
               </div>
               
        </div>   

    </div>
</div>    

<app-frontend-footer></app-frontend-footer>
<router-outlet></router-outlet>
