<footer class="navbar">
    <div class="container">
      <div class="col-3">
        <div class="footer_title">Information</div>
        <ul class="footer_menu_list">
            <li><a>About Us</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms & Conditions</a></li>
            <li><a>Return & Cancel Policy</a></li>
            <li><a>Refund Policy</a></li>
            <li><a>Payments & Logistics Partners</a></li>
            <li><a>Shipping Policy</a></li>
        </ul>


      </div>
      <div class="col-3">
        <div class="footer_title">My Account</div>
        <ul class="footer_menu_list">
            <li><a>Contact Us</a></li>
            <li><a>FAQ</a></li>
            <li><a>Product / Service Details</a></li>
        </ul>

      </div>
      <div class="col-3">
        <div class="footer_title">Contact Us</div>
        <ul class="footer_menu_list">
            <li>Atanyan Bhavan, Purbashali Baidik Para,<br/>P.O. and P.S. Purbashali, Dist. Purba Bardhaman,WestBengal,Pin- 713513. India. </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;9163036344</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;contact@abchi.in</li>
        </ul>

      </div>
      <div class="col-3">
        <div class="footer_title">We Accept</div>
        <img src="assets/images/footer_card.PNG"  alt="image">
        <div class="footer_title">Download The App</div>
        <img src="assets/images/google_play.PNG"  alt="image">&nbsp;<img src="assets/images/app_store.PNG"  alt="image">
      </div>
    </div>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</footer>
