<footer class="navbar">
    <div class="container">
      <div class="col-3">
        <div class="footer_title">Information</div>
        <ul class="footer_menu_list">
            <li><a>About Us</a></li>
            <li><a>Privacy Policy</a></li>
            <li><a>Terms & Conditions</a></li>
            <li><a>Return & Cancel Policy</a></li>
            <li><a>Refund Policy</a></li>
            <li><a>Payments & Logistics Partners</a></li>
            <li><a>Shipping Policy</a></li>
        </ul>


      </div>
      <div class="col-3">
        <div class="footer_title">My Account</div>
        <ul class="footer_menu_list">
            <li><a>Contact Us</a></li>
            <li><a>FAQ</a></li>
            <li><a>Product / Service Details</a></li>
        </ul>

      </div>
      <div class="col-3">
        <div class="footer_title">Contact Us</div>
        <ul class="footer_menu_list">
            <li>Atanyan Bhavan, Purbashali Baidik Para,<br/>P.O. and P.S. Purbashali, Dist. Purba Bardhaman,WestBengal,Pin- 713513. India. </li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;9163036344</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;contact@abchi.in</li>
        </ul>

      </div>
      <div class="col-3">
        <div class="footer_title">We Accept</div>
        <img src="assets/images/footer_card.PNG"  alt="image">
        <div class="footer_title">Download The App</div>
        <img src="assets/images/google_play.PNG"  alt="image">&nbsp;<img src="assets/images/app_store.PNG"  alt="image">
      </div>
    </div>
</footer>
