<div class="container mt-3 mb-2">
    <div class="footer_title">Save Big On Favourite Brand<span class="view_all">View All</span></div>   
   <div id="carouselExampleDark1" class="carousel carousel-dark slide carousel_container" >
   <ul class="product_list">
    <li>
        <div class="pro_img"><img class="img-fluid" width="100px" src="/assets/images/product_1.png" alt="Image 1"/></div>   
        <div class="pro_name">India Gate Basmati Rice Super</div>
        <div class="pro_weight">1.5 Kgs</div>
        <div class="row">
        <div class="col-8 pro_price"><span>&#8377; 210.00</span>&#8377; 195.00</div>
        <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
        </div>
    </li>
    <li>
        <div class="pro_img"><img class="img-fluid" width="30%" src="/assets/images/product_2.png" alt="Image 1"/></div>   
        <div class="pro_name">Nescafe Classic Instant Ground Coffee</div>
        <div class="pro_weight">0.2 Kg</div>
        <div class="row">
        <div class="col-8 pro_price"><span>&#8377; 600.00</span>&#8377; 449.00</div>
        <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
        </div>
    </li>
    <li>
        <div class="pro_img"><img class="img-fluid" width="100px" src="/assets/images/product_3.png" alt="Image 1"/></div>   
        <div class="pro_name">Sunfeast Farmalite Veda Digestive Biscuit</div>
        <div class="pro_weight">250 g</div>
        <div class="row">
        <div class="col-8 pro_price"><span>&#8377; 65.00</span>&#8377; 49.00</div>
        <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
        </div>
    </li>
    <li>
        <div class="pro_img"><img class="img-fluid" width="100px" src="/assets/images/product_4.png" alt="Image 1"/></div>   
        <div class="pro_name">Odonil Bathroom Air Freshner Blocks</div>
        <div class="pro_weight">400 g</div>
        <div class="row">
        <div class="col-8 pro_price"><span>&#8377; 315.00</span>&#8377; 265.00</div>
        <div class="col-4"><button type="submit" class="add_btn">ADD</button></div>
        </div>
    </li>
   </ul>
    </div>
    </div>
    
