<div class="product_cat mb-3">
    <ul>
        <li class="active"><img src="assets/images/cat-9.png"  width="33" alt="..."> Bath & Hair Care</li>
        <li routerLink="/product_category"><img src="assets/images/cat-8.png"  width="33" alt="..."> Baby Food</li>
        <li><img src="assets/images/cat-7.png"  width="33" alt="..."> Oral & Nasal Care</li>
        <li><img src="assets/images/cat-6.png"  width="33" alt="..."> Baby Skin Care</li>
        <li><img src="assets/images/cat-5.png"  width="33" alt="..."> Cleaning Needs</li>
        <li><img src="assets/images/cat4.png"  width="33" alt="..."> Feeding Accessories</li>
        <li><img src="assets/images/cat3.png"  width="33" alt="..."> Baby Pharma</li>
        <li><img src="assets/images/cat2.png"  width="33" alt="..."> Mother Care</li>
        <li><img src="assets/images/cat-1.png"  width="33" alt="..."> Kids Toy & More</li>
    </ul>
</div>
<div class="category_filter mb-3">
    <div class="filter_title mb-2">Filter <i class="fa fa-filter" aria-hidden="true"></i></div>
    <div class="filter_section">
        <div class="filer_category mb-3">
            <h5>Baby Weight</h5>
            <ul>
                <li >
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        Less than 4 Kgs
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        5-6 Kgs
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        6-7 kgs
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        7 Kgs +
                    </div>
                </li>
            </ul>
        </div>

        <div class="filer_category mb-3">
            <h5>Size</h5>
            <ul>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        New Born
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        XL
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        Small
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        Free Size
                    </div>
                </li>
            </ul>
        </div>
        <div class="filer_category mb-3">
            <h5>Price</h5>
            <ul>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        Rs 21 - Rs 50
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        Rs 51 - Rs 100
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        Rs 101 - Rs 200
                    </div>
                </li>
                <li>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        Rs 200 +
                    </div>
                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-warning btn-sm">Apply Filter</button>


    </div>
</div>
