<app-header></app-header>
<section style="background-color: #fff;">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container py-3 mt-2">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-7">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color:#f8f9fa;">
            <div class="card-body p-5">
  
              <h2 class="mb-5 text-center">Super Admin OR Admin Log in</h2>
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-3 col-form-label form-level-green">Log In As</label>
                <div class="col-sm-4 mt-2 ">
                  <select id="select_role" formControlName="role" class="form-select" [ngClass]="{ 'is-invalid': submitted && f.role.errors }">
                    <option value="">Select Your Role</option>
                    <option value="superadmin">Super Admin</option>
                    <option value="admin">Admin</option>
                    
                </select>
                <div *ngIf="submitted && f.role.errors" class="invalid-feedback">
                    <div *ngIf="f.role.errors.required">Role is required</div>
                </div>
                 
                </div>
              </div>
            
            <div class="admin_login" >
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-3 col-form-label form-label">Email Id</label>
                    <div class="col-sm-9">
                      <input type="email" formControlName="email" placeholder="Enter your Email Id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label form-label">Password</label>
                    <div class="col-sm-9">
                      <input type="password" formControlName="password" placeholder="Enter your Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                    </div>
                  </div>   
                    
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label form-label"></label>
                    <div class="col-sm-5">
                        <div class="ttw_button_container">
                            <button class="ttw_button" >SUBMIT</button>
                        </div>
                    </div>
                      <div class="col-sm-3 forgot_link mt-3">
                        <a class="frgt_pass" id="frgt_pass_admin" data-bs-target="#exampleModal"  data-bs-toggle="modal" >Forgot Password</a>
                        <a class="frgt_pass" id="frgt_pass_superadmin" (click)="redirectTo()">Forgot Password</a>
                      </div>
                  </div>
                  <div class="alert alert-danger show_err" role="alert"></div>
                    
                  
            </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <!-- <div *ngIf="showErrorMessage">
      <h1>Invalid username and password Please try again</h1>
    </div> -->
  </form>
  </section>
  <app-footer></app-footer>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
       
        <div class="modal-body modal-alert">
          This Function Is Not Allowed For Admin.Please Contact Super Admin to Reset password.
        </div>
        
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>