<section style="background-color: #fff;">
    <div class="container py-3 mt-2">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-7">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color:#f8f9fa;">
            <div class="card-body p-5">
  
              <h2 class="mb-5 text-center">Super Admin OR Admin Log in</h2>
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-3 col-form-label form-level-green">Log In As</label>
                <div class="col-sm-7 mt-2 radio-level-green">
                    <div class="custom_radio">
                        <input type="radio" id="superadmin" name="admin" [(ngModel)]="admin" [value]="false" [checked]="!admin" checked ><label for="superadmin">Super Admin</label>
                        
                        <input type="radio" class="checked" id="admin" name="admin" [(ngModel)]="admin" [value]="true" [checked]="admin"><label for="admin">Admin</label>
                       
                      </div>
                 
                </div>
              </div>
            <div class="super_admin_login" *ngIf="!admin">
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-3 col-form-label form-label">User Id</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="username" >
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label form-label">Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="inputPassword">
                </div>
              </div>   
                
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label form-label"></label>
                <div class="col-sm-5">
                    <div class="ttw_button_container">
                        <button class="ttw_button" type="submit" routerLink="/superadmin_dashboard">SUBMIT</button>
                    </div>
                </div>
                <div class="col-sm-3 forgot_link mt-3">
                    <a routerLink="/forgot_password" routerLinkActive="active" ariaCurrentWhenActive="page">Forgot Password</a>
                  </div>
              </div>
            </div>
            <div class="admin_login" *ngIf="admin">
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-3 col-form-label form-label">User Id</label>
                    <div class="col-sm-9">
                      <input type="email" class="form-control" id="username" >
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label form-label">Password</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="inputPassword">
                    </div>
                  </div>   
                    
                  <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-3 col-form-label form-label"></label>
                    <div class="col-sm-5">
                        <div class="ttw_button_container">
                            <button class="ttw_button" type="submit">SUBMIT</button>
                        </div>
                    </div>
                      <div class="col-sm-3 forgot_link mt-3">
                        <a data-bs-toggle="modal" data-bs-target="#exampleModal">Forgot Password</a>
                      </div>
                  </div>
                
            </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
       
        <div class="modal-body modal-alert">
          This Function Is Not Allowed For Admin.Please Contact Super Admin to Reset password.
        </div>
        
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>