.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    .form-outline.form-white .form-control:focus~.form-label {
        color: #fff;
        background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    }
    .form-outline .form-control {
        min-height: auto;
        padding: 0.33em 0.75em;
        border: 1px solid #fff;
        background: transparent;
        transition: all .2s linear;
    }
    .form-level-green{
        color: #00b3a0;
        font-size: 18px;
        font-weight: 600;
    }
    .radio-level-green{
        color: #00b3a0;
        font-size: 18px;
        font-weight: bold;
    }

   
     .custom_radio input[type="radio"]{
       display: none;
     }
     .custom_radio input[type="radio"] + label{
       position: relative;
       display: inline-block;
       padding-left: 1.5em;
       margin-right: 2em;
       cursor: pointer;
       line-height: 1em;
       -webkit-transition: all 0.3s ease-in-out;
       transition: all 0.3s ease-in-out;
     }
     .custom_radio input[type="radio"] + label:before,
     .custom_radio input[type="radio"] + label:after{
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       width: 1em;
       height: 1em;
       text-align: center;
       color: white;
       font-family: Times;
       border-radius: 50%;
       -webkit-transition: all .3s ease;
       transition: all .3s ease;
     }
     .custom_radio input[type="radio"] + label:before {
       -webkit-transition: all .3s ease;
       transition: all .3s ease;
       box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
       border:1px solid #00b3a0; 
     }
     .custom_radio input[type="radio"] + label:hover:before {
       -webkit-transition: all .3s ease;
       transition: all .3s ease;
       box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
     }
     .custom_radio input[type="radio"]:checked + label:before {
       -webkit-transition: all .3s ease;
       transition: all .3s ease;
       box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #00b3a0;
     }
     .custom_radio input[type="radio"].checked:first-child + label:before{
        box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em #00b3a0;
     }

     .form-label{    
        font-size: 20px;
        color: #333232;
        line-height: 20px;
        font-weight: 400;
    }
    .forgot_link a{
        color: #00b3a0;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
    }
    .forgot_link a:hover{
        text-decoration: underline;
    }
    .ttw_button_container {
        background: #27d9b4;
        padding: 4px;
        margin: 4px 0;
        display: inline-block;
        border-radius:30px;
    }
    button.ttw_button{  
        background: #27d9b4;
        color: #fff;
        border: 1px solid white;
        padding: 6px 52px;
        font-weight: bold;      
        font-size: 19px;
        display: inline-block;
        border-radius:30px;
    }
    .modal-alert{
        font-size: 20px;
        color: #333232;
        line-height: 27px;
        font-weight: 600;
        text-align: center;  
    }
    .close_modal{
        position: absolute;
        right: 3px;
        top:3px;
        font-size: 20px;
        color: #00b3a0;
    }

    #frgt_pass_admin, #frgt_pass_superadmin{display: none;}
    .show_err{display: none;}
   