<div class="overlay"></div>
<div class="cart">
<div class="cart_wrapper" >
    <div class="row">
        <div class="col-10 cart_title">My Cart</div>
        <div class="col-2"><i class="fa fa-times close" aria-hidden="true" (click)="redirectTo()"></i></div>
    </div>

    <div class="Product_in_cart">
        <div class="row">
            <div class="col-4"><img class="img-fluid" src="assets/images/dry-fruits-2.jpg" alt="Image 1"/> </div>
            <div class="col-8">
                <div class="product_name">Import Quality Dry food package</div>
                <div class="product_desc">Whole Grain and fresh quality</div>
                <div class="col-12">
                    <input type="number" value="1" min="0" max="10" step="1"/>
                    

                </div>
                <div class="product_price">345</div>
            </div>

        </div>


    </div>
    
</div>
</div>