.footer_title{
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-weight: normal;
    background: #00b3a1;
    padding: 5px 8px;
}
.carousel_container{
    padding: 50px 40px 20px 40px;
    border-radius: 5px;
    overflow: hidden;
}
.row{margin: 0px;}
.carousel-control-next, .carousel-control-prev{width: auto;}
.category_holder{margin:0px 10px;width:100%; height: 100%; background: #00b3a0; border-radius: 10px; text-align: center;}
.category_holder img{width:75px; height:75px;border-radius: 50%;object-fit: cover;position: relative;top: -37px;border:1px solid #00b3a0;}
.carousel-inner{overflow: initial;}
.cat_name{
    color: #fff;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-weight: 400;
    font-size: 17px;
    position: relative;
    top: -20px;
}
.carousel{overflow: hidden;}
.review_container{background: #00b3a0; position: relative;
    color: #fff; 
    padding: 5%;
    padding: 4%;
    width: 50%;
    margin: 10% auto 5% auto; text-align: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.37);
}
.author_name{color: #fff;
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-weight: bold;
    font-size: 22px;}

    .arrow_box {
        position: relative;
        background:transparent;
        border-bottom: 1px solid #e7b142;
        width: fit-content;
    margin: 0px auto 40px auto;
    }
    .arrow_box:after, .arrow_box:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    
    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #00b3a1;
        border-width: 22px;
        margin-left: -22px;
    }
    .arrow_box:before {
        border-color: rgba(211, 176, 17, 0);
        border-top-color: #e7b142;
        border-width: 24px;
        margin-left: -24px;
    }
    .author_image{   
         position: absolute;
        top: -110px;
        width: 100%;
        left: 0;}
    .review_contain{ color: #fff;
        font-size: 16px;
        font-family: Tahoma, "Trebuchet MS", sans-serif;
        font-weight: normal;}
        .fa-star.checked {
            color: orange;
          }
          .fa-star{color:#dd4a58;font-size: 24px;
            padding: 0px 5px;}
            .author_rating{margin-bottom: 20px;}