<div class="container mt-3 mb-2">
    <div class="footer_title">Customer Reviews</div>   
    <div id="carouselreview" class="carousel carousel-fade slide" >
       
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <div class="review_container">

               <div class="author_image"><img src="assets/images/review.png" width="150px" class="img-fluid" alt="..."></div>
                <div class="arrow_box author_name">Robert Smith</div>
                <div class="author_rating">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <div class="review_contain">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing"</div>

            </div>
            
          </div>
          <div class="carousel-item" >
            <div class="review_container">

                <div class="author_image"><img src="assets/images/review.png" width="150px" class="img-fluid" alt="..."></div>
                 <div class="arrow_box author_name">Biman Basu</div>
                 <div class="author_rating">
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star"></span>
                     
                 </div>
                 <div class="review_contain">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing"</div>
 
             </div>
            
          </div>
          <div class="carousel-item" >
            <div class="review_container">

                <div class="author_image"><img src="assets/images/review.png" width="150px" class="img-fluid" alt="..."></div>
                 <div class="arrow_box author_name">Rajib Sen</div>
                 <div class="author_rating">
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star checked"></span>
                     <span class="fa fa-star"></span>
                     <span class="fa fa-star"></span>
                 </div>
                 <div class="review_contain">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing"</div>
 
             </div>
            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselreview" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselreview" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
</div>    
