.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

    .form-outline.form-white .form-control:focus~.form-label {
        color: #fff;
        background: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    }
    .form-outline .form-control {
        min-height: auto;
        padding: 0.33em 0.75em;
        border: 1px solid #fff;
        background: transparent;
        transition: all .2s linear;
    }
    .form-level-green{
        color: #00b3a0;
        font-size: 17px;
        font-weight: normal;
    }
    .radio-level-green{
        color: #00b3a0;
        font-size: 18px;
        font-weight: bold;
    }

  

     .form-label{    
        font-size: 18px;
        color: #333232;
        line-height: 20px;
        font-weight: 400;
    }
    .forgot_link a{
        color: #00b3a0;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
    }
    .forgot_link a:hover{
        text-decoration: underline;
    }
    .ttw_button_container {
        background: #27d9b4;
        padding: 4px;
        margin: 4px 0;
        display: inline-block;
        border-radius:30px;
    }
    button.ttw_button{  
        background: #27d9b4;
        color: #fff;
        border: 1px solid white;
        padding: 6px 52px;
        font-weight: bold;      
        font-size: 19px;
        display: inline-block;
        border-radius:30px;
    }
   