<app-header></app-header>
<section style="background-color: #fff;">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-8 col-xl-7">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color:#f8f9fa;">
            <div class="card-body p-5">
  
              <h2 class="mb-5 text-center">Reset Password (Super Admin)</h2>
              
            <div class="super_admin_login" >
                <div class="mb-3 row">
                    <label for="staticEmail" class="col-sm-12 col-form-label form-level-green">One Security Code has been sent to your registered Mobile / Email id</label>
                    
                  </div>
              <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-3 col-form-label form-label">Security Code</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="confirm_otp" >
                </div>
              </div>
                
                
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-3 col-form-label form-label"></label>
                <div class="col-sm-4">
                    <div class="ttw_button_container">
                        <button class="ttw_button" type="submit">Resend</button>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ttw_button_container">
                        <button class="ttw_button" type="submit" (click)="redirectToresetpassword()">Verify</button>
                    </div>
                </div>
                
              </div>
            </div>
           
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
  <router-outlet></router-outlet>

